<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Bookers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto">
             <% if user_signed_in? %>
             <li class="nav-item">
               <%= link_to user_path(current_user.id), class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-home" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>Home</span>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to users_path, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-users" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>Users</span>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to books_path, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-book-open" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>Books</span>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-sign-out-alt" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>logout</span>
               <% end %>
             </li>
             <% else %>

             <li class="nav-item">
               <%= link_to root_path, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-home" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>Home</span>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to about_path, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-link" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>About</span>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to new_user_registration_path, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-user-plus" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>sign up</span>
               <% end %>
             </li>
             <li class="nav-item">
               <%= link_to new_user_session_path, class: 'navbar-brand nav-link text-white' do %>
                 <i class="fas fa-sign-in-alt" width="30" heigght="30" class="d-inline-block align-text-top"></i>
                 <span>login</span>
               <% end %>
             </li>
             <% end %>
            </ul>
          </div>
         </div>
        </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
